@import '../partials/mixins'; // custom mixins
@import "bourbon/bourbon";

.socials{
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(flex-start);
  
}
.social img{
  width: 150px;
  margin-right: 15px;
}
.social {
  width: 100%;
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(center);
  @include flex-wrap(wrap);
}
.social span{
  font-size: 2.5em;
  color:black;
}